/* ===== SIDEBAR BASE ===== */

.sidebar {
  width: 250px;
  height: calc(100vh - 40px);
  background: #F5F5F5;

  position: fixed;
  top: 20px;
left: 20px;

  border-radius: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 40px;
}

.sidebar a {
  border-radius: 8px;
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #333;
  border-radius: 6px;
  margin-bottom: 8px;
}

.sidebar a:hover {
  background: #e6ebff;
}

/* ===== HAMBURGER ===== */

.menu-toggle {
  display: none;
  position: fixed;
  top: 5px;
  left: 15px;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1200;
}

/* ===== CLOSE BUTTON ===== */

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 10px;
}

/* ===== OVERLAY ===== */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1100;
}

/* ===== MOBILE VIEW ===== */

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .sidebar {
    left: -260px;
    z-index: 1201;
  }

  .sidebar.active {
    left: 0;
  }

  .close-btn {
    display: block;
  }
}